<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name1"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label,android:icon">
        <activity
            android:name="com.ble.activity.UidActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="Eddystone UID"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name="com.ble.activity.EidActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="Eddystone EID"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name="com.ble.activity.UrlActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="Eddystone URL"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity
            android:name="com.ble.activity.TlmActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="Eddystone TLM"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity android:name="com.ble.activity.BeaconDetailActivity" />
        <activity android:name="com.ble.activity.BaseActivity" />
        <activity
            android:name="com.ble.activity.Scan2Activity"
            android:exported="false" />
        <activity
            android:name="com.ble.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.ble.activity.MainActivity$Receiver"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <action android:name="BluetoothAdapter.ACTION_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>