<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />


    <!-- 如果 targetSdkVersion >= 33（Android 13），需要在运行时另外处理更加严格的权限， -->
    <!-- 可以在代码中动态请求 READ_MEDIA_IMAGES / READ_MEDIA_VIDEO 等权限。 -->


    <application
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="智慧食堂数据大屏"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/FullScreen"
        tools:targetApi="31">
        <activity
            android:name="com.ble.newbeaconconfig.MainActivity"
            android:exported="true"
            android:label="数据大屏"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>